<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Strngr - Anonymous feeback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <div class="background mt-20">
      <header class="color-blue title ">
        <a href="/" class="header-link color-blue"
          ><h1 class="ml-30">Strngr</h1></a
        >
      </header>
      <!-- /header -->
      <div class="container card ml-30 mr-30 mt-20 pd-10 pt-5 h-70p">
        <a href="/help/removeitem" class="header-link">
          <div class="help-item">
            <p class="fs-12 color-blue sub-title">How to remove the link</p>
            <span class="help-icon"></span>
          </div>
        </a>
        <a href="/help/anonymous" class="header-link">
          <div class="help-item">
            <p class="fs-12 color-blue sub-title">How to find Anonymous name</p>
            <span class="help-icon"></span>
          </div>
        </a>
        <a href="/help/is-safe" class="header-link">
          <div class="help-item">
            <p class="fs-12 color-blue sub-title">Is this site is safe ?</p>
            <span class="help-icon"></span>
          </div>
        </a>
        <a href="/about" class="header-link">
          <div class="help-item">
            <p class="fs-12 color-blue sub-title">How do you make money ?</p>
            <span class="help-icon"></span>
          </div>
        </a>
        <a href="/help/incognito" class="header-link">
          <div class="help-item">
            <p class="fs-12 color-blue sub-title">Why not incognito</p>
            <span class="help-icon"></span>
          </div>
        </a>
        <a href="/help/missing" class="header-link">
          <div class="help-item">
            <p class="fs-12 color-blue sub-title">
              I cannot see my entries/feedbacks
            </p>
            <span class="help-icon"></span>
          </div>
        </a>
        <a href="/report" class="header-link">
          <div class="help-item">
            <p class="fs-12 color-blue sub-title">Anything else ? contact us</p>
            <span class="help-icon"></span>
          </div>
        </a>
      </div>
    </div>
    <footer class="color-grey card-para fs-8">
      <span class="links">
        <a href="/help" class="color-grey header-link"><span>Help |</span></a>
        <a href="/report" class="color-grey header-link"
          ><span>Report |</span></a
        >
        <a href="/about" class="color-grey header-link"><span>About</span></a>
      </span>
      <div class="info" class="color-grey header-link">
        <a href="/aboutme" class="color-grey header-link"
          ><span>developed by <span>harsha20599</span></span></a
        >
      </div>
    </footer>
  </body>
</html>
