<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Strngr - Anonymous feeback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      var handle;
      var name;
      document.onreadystatechange = function(e) {
        if (document.readyState === "complete") {
          // alert("Hello");
          var value = localStorage.getItem("strngr");
          if (!value) window.location.href = "/";
          var result;
          $.ajax({
            url: "/api/gethandle",
            type: "get",
            headers: {
              authorization: value //If your header name has spaces or any other char not appropriate
            },
            success: function(data) {
              handle = data.handle;
              name = data.name;
              printResult(data);
            },
            error: function(err) {
              window.location.href = "/";
            }
          });
        }
      };
    </script>
  </head>
  <body>
    <div class="background mt-20">
        <header class="color-blue title ">
            <a href="/" class="header-link color-blue" ><h1 class="ml-30">Strngr</h1></a>
          </header><!-- /header -->

      <div class="card ml-30 mr-30 mt-60">
        <div class="card-title title color-blue fs-18">
          Done, sharing is all left
        </div>
        <div id="outline" class="input-text-rounded">
          <input
            type="text"
            style="color: #8a8a8a"
            id="inputBox"
            placeholder="Enter your name"
          />
          <span id="errorInfo" class="error-info hide"
            >Please give only letters</span
          >
        </div>

        <div id="shareBtn" class="btn-blue btn-left mt-20">
          <button class="h-40 color-teal font-bold">Share on other</button>
        </div>

        <div id="copy" class="btn-teal btn-right mt-20">
          <button class="h-40 color-blue font-bold">Copy</button>
        </div>

        <a id="whatsapp">
          <div class="btn-teal mt-20">
            <button class="h-40 color-blue font-bold">Share on whatsapp</button>
          </div>
        </a>
        <a href="/view">
          <div class="btn-teal mt-20">
            <button
              class="h-40 color-blue font-bold"
            >
              View feedbacks
            </button>
          </div>
        </a>
      </div>
    </div>
		<footer class="color-grey card-para fs-8">
        <span class="links">
          <a href="/help" class="color-grey header-link"><span>Help |</span></a>
          <a href="/report"class="color-grey header-link"><span>Report |</span></a>
          <a href="/about"class="color-grey header-link"><span>About</span></a>
        </span>	
        <div class="info"class="color-grey header-link">
          <a href="/aboutme"class="color-grey header-link"><span>developed by <span>harsha20599</span></span></a>
        </div>
      </footer>
    <script>
      async function webShare(URI,text){
        try {
          await navigator.share({ title: "Strngr - Anonymous feedback", url: URI,text: text });
          console.log("Data was shared successfully");
        } catch (err) {
          console.error("Share failed:", err.message);
        }
      }
      $("#shareBtn").click(function() {
        var URI = "http://strngr.herokuapp.com/" + handle;
        var text = "Give your feedback anonymously to " + name;
        webShare(URI,text);
        // console.log("clicked");
        // if (navigator.share) {
        //   navigator
        //     .share({
        //       title: "Strngr - Anonymous feedback",
        //       text: text,
        //       url: URI
        //     })
        //     .then(() => console.log("Successful share"))
        //     .catch(error => console.log("Error sharing", error));
        // }
      });

      $("#copy").click(function() {
        $("#inputBox").select();
        document.execCommand("copy");
      });

      function printResult(d) {
        $("#inputBox").val("https://strngr.herokuapp.com/" + d.handle);
        var whatsappUrl = `whatsapp://send?text=Give your feedback anonymously to ${
          d.name
        }: strngr.herokuapp.com/${d.handle}`;
        $("#whatsapp").attr("href", whatsappUrl);
        $("#whatsapp").attr("data-action", "share/whatsapp/share");
      }
    </script>
  </body>
</html>
