<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Strngr - Anonymous feeback</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
	<div class="background mt-20">
		
		<header class="color-blue title ">
			<h1 class="ml-30">Strngr</h1>
		</header><!-- /header -->

		<div class="card ml-30 mr-30 mt-60">
			
			<div class="card-title title color-blue fs-18">
				Thank you for writing to Harsha
			</div>
			
			<div class="btn-teal mt-20">
				<button class="h-40 color-blue font-bold">Create yours</button>
			</div>

		</div>
	</div>
		<footer class="color-grey card-para fs-8">
			<span class="links">
				<span>Help |</span>
				<span>Report |</span>
				<span>About</span>
			</span>	
			<div class="info">
				<span>developed by <span>harsha20599</span></span>
			</div>
		</footer>
</body>
</html>