<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Strngr - Anonymous feeback</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="..//stylesheets/style.css" type="text/css">
</head>
<body>
	<div class="background mt-20">
		
		<header class="color-blue title ">
			<a href="/" class="header-link color-blue" ><h1 class="ml-30">Strngr</h1></a>
		</header><!-- /header -->

		<div class="container card ml-30 mr-30 mt-20 pd-10 h-70p">

        <div class="card-title title color-blue fs-18">
            Sorry you cannot remove the link
        </div>
        <div class="card-para fs-12 color-blue">
          <p>But if you really want to remove the generated link and create a new one, <br><br>
             You could open this site on <b>another browser</b> and create a link or follow the below steps
            <Br><br>These steps are <b>not recommended</b> because it may leads to lose your browser's data 
            </p>
          <div class="mt-20">
            <ul class="list color-blue">
              <li>Open up your mobile settings</li>
              <li>Go to apps</li>
              <li>Select your browser</li>
              <li>Clear all data and cache of your browser</li>
              <li>Now open the link and you can now generate a new link</li>
            </ul>
          </div>
        </div>

		</div>
	</div>
		<footer class="color-grey card-para fs-8">
			<span class="links">
				<a href="/help" class="color-grey header-link"><span>Help |</span></a>
				<a href="/report"class="color-grey header-link"><span>Report |</span></a>
				<a href="/about"class="color-grey header-link"><span>About</span></a>
			</span>	
			<div class="info"class="color-grey header-link">
				<a href="/aboutme"class="color-grey header-link"><span>developed by <span>harsha20599</span></span></a>
			</div>
		</footer>
</body>
</html>